language: python
addons:
  apt:
    sources:
      - deadsnakes
    packages:
      - python3.5
env:
  - TOXENV=py27-django-17
  - TOXENV=py27-django-18
  - TOXENV=py27-django-19
  - TOXENV=py27-django-master
  - TOXENV=py33-django-17
  - TOXENV=py33-django-18
  - TOXENV=py34-django-17
  - TOXENV=py34-django-18
  - TOXENV=py34-django-19
  - TOXENV=py34-django-master
  - TOXENV=py35-django-19
  - TOXENV=py35-django-master
matrix:
  fast_finish: true
  allow_failures:
    - env: TOXENV=py27-django-master
    - env: TOXENV=py34-django-master
    - env: TOXENV=py35-django-master
install:
    - pip install tox
script:
  - tox